h1 {
    color:rgb(52, 200, 207);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
    background-color: rgb(25, 25, 25);
    border-width: 3px; 
    border-style: solid;
    border-color: rgb(4, 109, 114);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
}

footer {
    color: rgb(65, 189, 206);
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    transition: all 0.25s;
}

footer:hover {
    animation: partyMode 1.5s infinite alternate ease-in-out;
    font-size: 40px;
}

body {
    background-color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    text-align: center;
    animation: textAnim 0.25s;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(190, 205, 209);
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    border-width: 3px; 
    border-style: solid;
    border-color: rgb(45, 81, 112);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.shortAnim {
    animation: textAnim 0.5s 0.25s backwards;
}

.mediumAnim {
    animation: textAnim 0.5s 0.5s backwards;
}

.longAnim {
    animation: textAnim 0.5s 0.75s backwards;
}

strong {
    text-transform: uppercase;
}

ul {
    margin-top: 80px;
    font-size: 40px;
    list-style-type: none;
}
a {
    color: rgb(190, 205, 209);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 20px;
    font-size: 40px;
}

nav li a {
    color: rgb(100, 149, 237);
    background-color: rgb(25, 25, 25);
    border-width: 3px; 
    border-style: solid;
    border-color: rgb(45, 81, 112);
    border-radius: 30px;
    padding: 20px 25px;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

li a:hover {
    border-width: 3px; 
    font-size: 42px;
    border-style: solid;
    border-color: rgb(45, 81, 160);
    color: rgb(132, 172, 247);
    background-color: rgb(25, 25, 25);
}

abbr {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

@keyframes textAnim {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes partyMode {
    0% {color: red;}
    20% {color: orange;}
    40% {color: yellow;}
    60% {color: lime;}
    80% {color: cyan;}
    100% {color: magenta;}
}