@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    background-color: #0E0E13;
    font-family: 'Urbanist', sans-serif;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #b4b4b4;
    text-decoration: none;
    transition: all 0.2s ease;
}

.hoverEffect {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hoverEffect::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverEffect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes partyMode {
    0% {color: red;}
    20% {color: orange;}
    40% {color: yellow;}
    60% {color: lime;}
    80% {color: cyan;}
    100% {color: magenta;}
}