h1 {
    color:rgb(60, 230, 131);
    background-color: rgb(95, 87, 204);
    font-size: 3.5em;
    padding: 60px;
    margin: 0px;
    border-width: 0px;
    text-align: center;
}
h2 {
    color: rgb(60, 230, 131);
    background-color: rgb(95, 87, 204);
    font-size: 2.25em;
    margin-right: 240px;
    margin-left: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(9, 45, 204);
    text-align: center;
}
h3 {
    color: rgb(65, 189, 206);
    font-size: 1.5em;
}
a {
    color:rgb(60, 224, 230);
    text-decoration: none;
    background-color: rgb(53, 47, 131);
    padding: 5px;
}
body {
    background-color: rgb(53, 47, 131);
    font-size: 14;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 223, 73);
    line-height: 1;
    text-align: center;
}
strong {
    text-transform: uppercase;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
}
td {
    padding-left: 200px;
    padding-right: 200px;
    padding: 40px;
    background-color: rgb(95, 87, 204);
    border-color: rgb(153, 223, 73);
    border-style: groove;
    border-width: 5px;
}